a {
  color: #59567e;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #4e6177;
  text-decoration: underline;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-link {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  color: #59567e;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: blue;
  text-decoration: underline;
}

.nav-link::before {
  content: '🐶';
  margin-right: 4px;
  opacity: 0;
  transition: opacity 0.2s;
}
.nav-link.active::before {
  opacity: 1;
}

.exhaustive-demo {
  background-image: url('../../assets/img/cute-dogs.jpg');
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: color;
}
