.app-layout {
  min-height: 100vh;

  .app-header {
    .logo {
      display: inline-block;

      img {
        width: 100px;
        margin-top: -7px;
      }
    }
  }

  .app-menu {
    height: 100%;
    border-right: 0;

    .ant-menu-item {
      margin-top: 0;
    }
  }

  .app-content {
    background: #fff;
    padding: 24px;
    margin: 24px 24px 0;
  }

  .app-footer {
    text-align: center;
  }
}
